# Example environment variables.
# Copy this file to `.env.local` and `.env` and fill values before running the app

# Next.js public URL (optional)
NEXT_PUBLIC_URL=http://localhost:3000 # e.g. https://magna-code.vercel.app

# Database (Neon) connection URL
DATABASE_URL= #get it from Neon (https://neon.tech/)

# Optional overrides for 3rd party endpoints
SCHEMA_ORG_URL=https://schema.org
SHADCN_SCHEMA_URL=https://ui.shadcn.com/schema.json
